@font-face
{
	font-family: "avancement";
	font-style: normal;
	font-weight: 400;
	src: url(../assets/avancement.otf);
}
@font-face
{
	font-family: "avancementbold";
	src: url(../assets/avancementbold.otf);
}
body
{
	background-color: rgba(34, 37, 43, 1.0);
	font-family: "avancement";
	margin: 0px;
}
button
{
	background-color: transparent;
	background-repeat: no-repeat;
	border-color: #0f4c81;
	border-radius: 6px;
	border-style: solid;
	box-shadow: none;
	color: white;
	cursor: pointer;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	moz-box-shadow: none;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	webkit-box-shadow: none;
	width: 40px;
}
buttonautofocus
{
	background-color: transparent;
	background-repeat: no-repeat;
	border-color: #0f4c81;
	border-radius: 6px;
	border-style: solid;
	box-shadow: none;
	color: white;
	cursor: pointer;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	moz-box-shadow: none;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	webkit-box-shadow: none;
	width: 40px;
}
lastGamebtnAuto
{
	background-color: transparent;
	background-repeat: no-repeat;
	border-color: #0f4c81;
	border-radius: 6px;
	border-style: solid;
	box-shadow: none;
	color: white;
	cursor: pointer;
	height: auto;
	margin-left: 5px;
	margin-right: 5px;
	moz-box-shadow: none;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	webkit-box-shadow: none;
	width: auto;
}
lastGamebtnAuto.focus
{
	background-color: #0f4c81;
	border-color: #0f4c81;
	border-radius: 5px;
	border-style: solid;
	outline: 0;
}
.btnalign
{
	align-items: center;
	display: flex;
	justify-content: center;
}
button.focus
{
	background-color: #0f4c81;
	border-color: #0f4c81;
	border-radius: 5px;
	border-style: solid;
	outline: 0;
}
button.lastGamebtn
{
	height: auto;
	padding: 5px;
	width: auto;
}
.content .chart
{
	display: block;
	float: left;
	font-family: "avancement";
	height: 600px;
	margin-left: 50px;
	margin-top: 50px;
	padding: 20px;
	width: 800px;
	z-index: 4;
}
.content .radar
{
	background-color: rgba(41, 44, 52, 1.0);
	border-radius: .25rem;
	display: inline-block;
	height: 550px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	padding: 30px;
	padding-top: 10px;
	position: relative;
	text-align: left;
	width: 41%;
}
.content .radar #radardiv
{
	float: left;
	font-family: "avancement";
	height: 450px;
	padding-top: 10px;
	width: 500px;
	z-index: 4;
}
.content .lastrow
{
	align-items: center;
}
.content .radar .first > th
{
	font-size: 30px;
	padding-bottom: 10px;
}
th.details
{
	color: grey;
	font-size: 20px;
	padding-left: 0px;
	text-decoration: underline;
	width: 3%;
}
img.gunwhite
{
	max-height: 5em;
	max-width: 5em;
	padding-left: 1em;
	transform: scaleX(-1);
	vertical-align: middle;
}
.content .lastgame
{
	background-color: rgba(41, 44, 52, 1.0);
	border-radius: .25rem;
	display: inline-block;
	height: 550px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	padding: 30px;
	padding-top: 10px;
	position: relative;
	text-align: left;
	width: 500px;
}
.content .weaponStats
{
	margin-top: 60px;
}
.content .weaponStats > table
{
	display: block;
	table-layout: fixed;
	width: 95%;
}
tr:nth-child(even).spaceAbove
{
	background-color: rgba(96,0,0,0.1);
}
.content .news
{
	background-color: rgba(41, 44, 52, 1.0);
	border-radius: .25rem;
	display: inline-block;
	height: 550px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	padding: 30px;
	padding-top: 10px;
	position: relative;
	text-align: left;
	width: 23%;
}
.content .news .first > th
{
	padding-bottom: 10px;
}
.content .weaponStats .first > th
{
	text-align: left;
	vertical-align: middle;
}
.alignRight
{
	float: right;
	padding-right: 10px;
	text-align: right;
}
.alignRightGreen
{
	background-color: #00995e;
	float: right;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	text-shadow: 3px 3px 3px #000000;
}
table
{
	border-collapse: collapse;
	width: 100%;
}
td
{
	font-size: 20px;
	padding-left: 10px;
	width: 15em;
}
table tr.first
{
	border-bottom: 1px solid grey;
	margin: 20px;
	text-align: left;
}
tr.spaceAbove
{
	line-height: 60px;
}
th
{
	display: table-cell;
	font-size: 30px;
	font-weight: 500;
}
.content .quickstats
{
	align-content: center;
	background-color: rgba(41, 44, 52, 1.0);
	border-radius: 15px;
	display: inline-block;
	float: left;
	height: 200px;
	margin: 1.65em;
	margin-bottom: 30px;
	margin-top: 65px;
	position: relative;
	text-align: center;
	width: 200px;
}
div.quickstats:nth-child(1)
{
	margin-left: 30px;
}
.content .quickstats img
{
	filter: drop-shadow(5px 5px 3px #222);
	max-height: 40%;
	max-width: 40%;
	padding-top: 5px;
	vertical-align: middle;
}
.content .chart2
{
	display: block;
	float: left;
	font-family: "avancement";
	height: 600px;
	margin-left: 50px;
	margin-top: 25px;
	padding: 20px;
	width: 800px;
	z-index: 5;
}
.content .lastGameDepth
{
	height: 700px;
	margin-top: 60px;
	width: 1500px;
}
.content .lastGameDepth #lastGameChart
{
	height: 700px;
	width: 1500px;
}
.logo
{
	display: inline-block;
	height: 20px;
	margin-bottom: 3px;
	margin-right: 5px;
	vertical-align: middle;
	width: 20px;
}
.logo2
{
	display: inline-block;
	height: 60px;
	vertical-align: middle;
	width: 60px;
}
.nav
{
	background-color: rgba(41, 44, 52, 1.0);
	display: inline-block;
	font-family: avancement;
	height: 100%;
	margin-top: 0px;
	overflow: auto;
	padding: 0px;
	position: fixed;
	width: 200px;
	z-index: 5;
}
.nav a
{
    color: grey;
    
	display: block;
	padding: 16px;
	text-decoration: none;
}
.nav a.active
{
	background-color: #E00000;
    color: white;
    position: relative;
}
.nav a:hover:not(.active)
{
	background-color: #555;
	color: lightgrey;
}
div.navShadow
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    box-shadow: -5px 0px 10px inset;
    pointer-events: none;
}
div.content
{
	color: white;
	font-family: "avancement";
    height: 1000px;
    width: 90%;
	margin-left: 200px;
    padding: 1px 16px;
	position: fixed;
}
div.background
{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(6, 2, 2, 0.73)),
 url('../img/Wallpapers/Omen/omenreddit.png');
	background-size: cover;
	/*filter: blur(4px);*/
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
h2
{
	color: lightgrey;
	font-family: "avancement";
	font-size: 1.6em;
	font-weight: 100;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}
h3
{
	color: white;
	font-family: "avancement";
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	padding-top: 5px;
}
div.quickstats:nth-child(1) > h3:nth-child(3)
{
	margin-top: -5px;
}
h4
{
	color: white;
	display: inline-block;
	font-family: "avancement";
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
	vertical-align: middle;
}
.content .quickstats > h4
{
	bottom: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	position: absolute;
	right: 0;
}
.container
{
	z-index: 2;
}
.window-container
{
	display: flex;
	flex-direction: column;
}
.window-header
{
	background-color: rgba(34, 37, 43, 1.0);
	display: flex;
	height: 48px;
	justify-content: space-between;
	padding-left: 12px;
	position: fixed;
	width: 100%;
	z-index: 999;
}
hr
{
	background-color: gray;
	border: none;
	height: 1px;
}
.logo-container
{
	padding-top: 10px;
}
.app-logo
{
	display: flex;
}
.app-logo-icon
{
	height: 24px;
	width: 24px;
}
.app-name
{
	color: white;
	font-size: 14px;
	line-height: 26px;
	padding-left: 8px;
}
.actions-container
{
	display: inline-block;
	vertical-align: middle;
}
div.row
{
    
    margin: 1.65em;
}
h1.sectionHeader
{
    position: relative;
    text-shadow: 2px 2px 2px #000;
    margin-left: 40px;
    margin-top: 65px;
}
div.card
{
    margin-top: 10px; 
}
.shadow-xl
{
	box-shadow: 0 0 3rem rgba(0,0,0,.575)!important;
}
.window-button-style
{
	background-color: transparent;
	border: none;
	height: 30px;
	margin: 0;
	padding: 0;
	transition: background-color 150ms ease;
	width: 30px;
}
.window-controls-icon
{
	height: 30px;
	pointer-events: none;
	transition: fill 150ms ease;
	user-select: none;
	width: 30px;
}
path.victory 
{
	fill: green;
}
@media screen and (max-width: 700px)
{
	.nav
	{
		height: auto;
		position: relative;
		width: 100%;
	}
	.nav a
	{
		float: left;
	}
	div.content
	{
		margin-left: 0;
	}
}
@media screen and (max-width: 400px)
{
	.nav a
	{
		float: none;
		text-align: center;
	}
}